body{
    text-align: center;
    color: darkgrey;
}

h1{
    color: darkgoldenrod;
    margin-top: 130px;
}

div.inline-block{
    display: inline-block;
    color: brown;
}



.inline-block{
  display: inline-block;
  outline:1px solid red;
  margin: 15px  ;
  padding: 20px;
  color: darkgrey;
}

.bouton {
    font-weight: bold;
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;     
}

.posts p {
    background-color: white;
    color: darkgray;
    font-size: 10px;
    padding: 20px;
    display: block;
    border-width: 10%;
    height: 100%;
    font-size: 14px;
}

.button {
    background-color:white;
	border-radius:28px;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
    font-weight: bold;
	border:1px solid ;
    border-color: darkgrey;
	display:inline-block;
	cursor:pointer;
	color:grey;
	font-family: inherit;
	font-size:12px;
	padding:8px 10px;
    margin-bottom: 25px;
    margin-top: 7px;
	text-decoration:none;
}

.myButton:active {
	position:relative;
	top:1px;
}

.button:hover {
	background-color:whitesmoke;
}

a:visited {
    color: darkgray;
}

.maman {
    background-color: floralwhite;
    text-align: justify;
}

.float {
    float: left;
    margin: 15px;
}

.papa {
    background-color: floralwhite;
    text-align: center;
}

.notification {
    margin: auto;
    font-weight:bold;
    border: 3px;
    border-style: groove;
    outline-color: grey;
    background-color: azure;
    width: 25%; 
    text-align: center;
    position: fixed;  
    top: 20px;
    
}

.align { 
   display: inline-block;
   background-color: honeydew;
   width: 200px;
   height: 120px;
   color: grey;
   text-align: center;
   padding-top: 20px;
   border-style: double;
    margin-bottom: 100;
}

.prem {
   background-color: honeydew;
   width: 200px;
   height: 120px;
   color: grey;
   text-align: center;
   padding-top: 20px;
   position: relative;
   top: 30px;
   left: 190px;
   border-style: dotted;
 
}

#decal { 
   position: relative; 
   top: 95px; 
   left: 20px;
   border-style: groove;
}

#firstFont{
  font-family: 'Press Start 2P', cursive;
  font-size:2em;
  text-align: right;
  padding-top: 120px;
  padding-bottom: 90px;
}